@inherits LayoutComponentBase

<PageTitle>Blazewind</PageTitle>

<!-- the rendered page body -->
<div class="flex justify-center items-center h-screen bg-gray-900">
    <div class="bg-gray-200 rounded-lg p-8">
        @Body
    </div>
</div>

