@page "/"

<PageTitle>Index</PageTitle>

<div>
    <h2 class="text-4xl font-bold bg-gradient-to-l from-blue-500 to-green-500 text-transparent bg-clip-text">Hello, Tailwind!</h2>
    <p class="font-semibold leading-tight text-justify">Blazewind - A TailwindCSS application template for Blazor Serverside</p>
</div>



